@font-face {
    font-family: AvenirNextLTPro-Bold;
    src: url("assets/font/AvenirNextLTPro-Bold.otf");
  }
@font-face {
    font-family: AvenirNextLTPro-It;
    src: url("assets/font/AvenirNextLTPro-It.otf");
}
@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url("assets/font/AvenirNextLTPro-Regular.otf");
}
*{box-sizing: border-box;}
  body, html {
    height: 100%;
    width: 100vw;
    margin: 0;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/cropped-header01.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 43%;
    left: 23%;
    color: white;
    font-family:  'AvenirNextLTPro-Bold';
    width: 54%;
    font-size: 20px;
  }

  .header {
    text-align: center;
    position: absolute;
    top: 7%;
    left: 17%;
    overflow: hidden;
    background-color: white;
    width: 66%;
    font-family: 'AvenirNextLTPro-Regular';
  }

  .shadow {
    position: absolute;
    top: 10%;
    left: 18%;
    overflow: hidden;
    background-color: green;
    width: 64%;
    height: 85px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 14px; 
    font-weight: bold;
    line-height: 55px;
  }
  
  .header img{
    height:100%;
  }
  .logo{
    float: left;
    color: black;
    padding: 10px 18px;
    height: 85px;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: rgb(83, 36, 129);
    color: white;
  }
  
  .header-right {
    float: right;
  }

  .content{
    width: 100%;
    position: relative;
    padding: 2% 15%;
  }
  .details{
    line-height: 2;
    font-family: 'AvenirNextLTPro-Regular';
    color: gray;
    position: relative;
  }

  .more a{
    line-height: 2;
    color: green;
    text-decoration: none;
  }
  .more {
    float: right;
    font-family: 'AvenirNextLTPro-Regular';
  }
  .content h1{
    line-height: 2;
    color: rgb(83, 36, 129);
    text-decoration: none;
    font-family:  'AvenirNextLTPro-Bold';
    font-size: 19px;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
  }
  
  .card img{
    width:100%; 
    height: 250px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    font-family:  'AvenirNextLTPro-Regular';
    font-weight: 1000;
    text-align: center;
    font-size: 20px;
    color: gray;
  }

  footer{
    width: 100vw;
    position: absolute;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
    background-color: rgb(83, 36, 129);
    color: white;
  }
  .mySlides {display: none; height: 47vh;}
  .mySlides img {position: absolute; right: 0px; top: 5vh;width:50%}
  
  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    position: relative;
    font-family: 'AvenirNextLTPro-Regular';
    margin: auto;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color:gray;
    font-size: 15px;
    width: 50%;
    height: 100%;
    padding-right: 15%;
    position: absolute;
  }
  
  /* The dots/bullets/indicators */
  .slide-dot {
    width: 38%;
    position: absolute;
  }
  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: blue;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .numbertext button {
    background-color: white;
    font-family: 'AvenirNextLTPro-Regular';
    color: black;
    border: 2px solid gray;
    width: 25%;
    height: 40px;
    position: absolute;
    bottom: -2vh;
  }
  
  .numbertext button:hover {
    background-color: gray;
    color: white;
    
  }